.App {
  min-height: 100vh;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
  text-decoration: none;
}

.App-link img {
  width: 150px;
  height: auto;
}

.leaflet-container {
  z-index: 0;
}

.leaflet-pane,
.leaflet-top,
.leaflet-bottom {
  z-index: 1;
}
